h1 {
  color: red;
  text-decoration: underline;
}
.blog {
  background-color: aqua;
  box-shadow: 5px 5px red;
}
.header{
    height: 600px;
    background-image: url('../Image/image-one.jpg');
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}
a{
    text-decoration: none;
}
li{
    color: aqua;
}
ul li{
    color: red;
    display: inline;
}
span{
    border: 2px solid red;
    height: 200px;
    width: 100px;
    margin-left: 50px;
    display: inline-block;
}
